<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rusic Forum Theme</title>
    <meta name="description" content="Forum theme for Rusic">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/style.css">
  </head>
  <body class="wrap">

    <header class="header">
      <h1>ACME Support</h1>
      <h2>Find and share solutions with other ACME users</h2>
      <input class="input" type="text" placeholder="Search for a solution to your issue">
    </header>

    <article class="topic">
      <h3 class="topic__title"><a href="">Suggestion: favourite contacts</a></h3>
      <footer class="topic__footer">
        Asked by <a href="">paulpasri</a>
        on the <time datetime="2014-6-20">20th July</time>
      </footer>
      <div class="topic__actions">
        <div class="topic__action">
          <strong>2</strong><br>
          <small>vote</small>
        </div>
        <div class="topic__action">
          <strong>1</strong><br>
          <small>replies</small>
        </div>
      </div>
    </article>

    <script src="../assets/main.js"></script>
  </body>
</html>
